<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="andy.ham" android:versionCode="1" android:versionName="1.0"> 
    <application android:icon="@drawable/icon" android:label="@string/app_name">   
     <provider android:name="LifeDiaryContentProvider"
			android:authorities="andy.ham.diarycontentprovider" />
        <activity android:name=".LifeDiary"></activity>
        <activity android:name="com.jcodecraeer.linkedviewpager.UserGuideActivity"
                  android:label="@string/title_diares_list">               
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	<activity android:name="DiaryEditor"
			android:theme="@android:style/Theme.Light"
			android:label="@string/title_diary">

			<intent-filter >
				<action android:name="andy.ham.DiaryEditor.EDIT_DIARY" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="vnd.android.cursor.item/vnd.google.diary" />
			</intent-filter>


			<intent-filter >
				<action android:name="andy.ham.DiaryEditor.action.INSERT_DIARY" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="vnd.android.cursor.dir/vnd.google.diary" />
			</intent-filter>
		</activity>
   </application>
    <uses-sdk android:minSdkVersion="7" />
</manifest> 